[Unit]
Description=Statistical Learning API server
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /home/ftpuser/src/build/results/services/StatisticalLearningApi/StatisticalLearning.Api.Host.dll --pathBase=/statisticalearningapi --server.urls="http://*:8001"
KillMode=process
TimeoutStopSec=5s
Restart=always
WorkingDirectory=/home/ftpuser/src/build/results/services/StatisticalLearningApi

[Install]
WantedBy=multi-user.target