<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div class="mat-h1">{{ "home" | translate }}</div>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="50%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Simple linear regression</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>