<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div class="mat-h1">{{ "home" | translate }}</div>
    </div>
</div>
<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="50%">
            <simplelinearegression-component></simplelinearegression-component>
        </div>
        <div fxFlex="50%">
            <multiplelinearegression-component></multiplelinearegression-component>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="50%">
            <principalcomponentanalysis-component></principalcomponentanalysis-component>
        </div>
        <div fxFlex="50%">
            <logisticregression-component></logisticregression-component>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="50%">
            <gaussianaivebayes-component></gaussianaivebayes-component>
        </div>
        <div fxFlex="50%">
            <lineardiscriminantanalysis-component></lineardiscriminantanalysis-component>
        </div>
    </div>
</div>